.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-family: 'Roboto', sans-serif;
  
}

h1{
  text-transform: uppercase;
  text-align: center;
  color: rgb(91, 90, 90);
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
  
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  button, input {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(253, 253, 217, 0.623);
    font-size: 25px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 12px;
    color: rgb(91, 90, 90);
    margin: 5px;
    padding: 12px;
    font-weight: bolder;
  }

  

  .blocks {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    margin-top: 50px;
    
  }

  .block {
    background-color: rgba(98, 145, 163, 0.868);
    margin: 15px;
    padding: 12px;
    border-radius: 12px;

    border: 1px solid rgb(177, 177, 177);
  }

  h3{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color:white;
  }
  p {
    font-size: 20px;
    color:white;
    font-weight: bold;
  }

  @media all and (max-width: 600px){
      
      input{ 
        width: 300px;
      font-size: 20px;}
        
      .container {
        align-items: center;
      }

      h1 {
        font-size: 25px;
      }
      video{
        width: 160vw;
        margin-left: -190px
      }
  }